.icon_div {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 50;
}

.icon_moon {
  width: 30px;
  height: 30px;
  filter: brightness(1) invert(1);
  margin: 5px;
}

.icon_moon:hover {
  scale: 1.2;
}

.icon_sun {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.icon_sun:hover {
  scale: 1.2;
}
